{% extends 'element:base.html' %}

{% block element_head_css %}
    {{ super() }}

    <link href="{{ asset('vendor/lightbox/css/lightbox.css') }}" rel="stylesheet">

    <!--<link href="{{ asset('vendor/lightbox/css/screen.css') }}" rel="stylesheet">-->
{% endblock %}

{% block element_footer_js %}
    {{ super() }}

    <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/modernizr/modernizr.js') }}"></script>
    <script src="{{ asset('vendor/lightbox/js/lightbox.min.js') }}"></script>
{% endblock %}