{% extends context.settings.base_template %}

{% block content %}
    <h1>{{ context.node.title }}</h1>

    <div class="row">
        <div class="span6">
            {% if sent %}
                <div class="alert alert-success">
                  <strong>Thanks,</strong>  your message has been sent!
                </div>
            {% else %}
                <div>
                    <form action="" method="POST" novalidate="novalidate">
                        {% if form.csrf_token.errors %}
                            <div class="alert alert-error">
                                The security token is expired, please repost your message.
                            </div>
                        {% endif %}

                        {{ form.csrf_token }}

                        <div class="control-group{% if form.name.errors %} error{% endif %}">
                            {{ form.name.label(class='control-label') }} {{ form.name(size=20, class='span6') }}
                            {% if form.name.errors %}
                                <span class="help-inline">
                                    {% for error in form.name.errors %}{{ error }}{% endfor %}
                                </span>
                            {% endif %}
                        </div>

                        <div class="control-group{% if form.email.errors %} error{% endif %}">
                            {{ form.email.label(class='control-label') }} {{ form.email(size=20, class='span6') }}
                            {% if form.email.errors %}
                                <span class="help-inline">
                                    {% for error in form.name.errors %}{{ error }}{% endfor %}
                                </span>
                            {% endif %}
                        </div>

                        <div class="control-group{% if form.message.errors %} error{% endif %}">
                            {{ form.message.label(class='control-label') }} {{ form.message(size=20, class='span6', rows=5) }}
                            {% if form.message.errors %}
                                <span class="help-inline">
                                    {% for error in form.name.errors %}{{ error }}{% endfor %}
                                </span>
                            {% endif %}
                        </div>

                        <div class="form-actions">
                          <button type="submit" class="btn btn-primary">Send !</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>

        <div class="span6">
            <h3>John Doe</h3>
            <p>
                Live on Planet Earth, <br />
                Mail: john.doe@localhost <br />
                Tel: +33 XX XX XX XX<br />
            </p>
        </div>
    </div>
    
{% endblock %}